@use './../styles/common.module.scss' as commom;

.container {
  @include commom.container();
}

.header {
  margin-bottom: 2rem;
}

.post {
  h2 {
    font-size: 1.7rem;
    color: var(--white-500);
    line-height: 2.3rem;
    margin-bottom: 1rem;
  }

  & + .post {
    margin-top: 3rem;
  }

  p {
    line-height: 1.5rem;
  }
}

.postInfo {
  color: var(--grey-400);
  display: flex;
  align-items: center;
  margin-top: 1.3rem;
  font-size: 0.9rem;

  span {
    display: flex;
    align-items: center;

    svg {
      margin-right: 5px;
    }
  }

  span + span {
    margin-left: 1.2rem;
  }
}

.button {
  background: none;
  border: none;
  color: var(--pink-500);
  margin-top: 4rem;
  font-weight: 600;
}
