@use '../styles/common.module.scss' as commom;

.container {
  width: 100%;
  max-width: commom.$sm-max-width;
  margin: 0 auto;
  padding: 1.5rem 3rem;
}

.post {
  h2 {
    font-size: 1.7rem;
    line-height: 2.3rem;
    margin-bottom: 0.3rem;
    cursor: pointer;

    transition: color 0.2s;

    &:hover {
      color: var(--pink-500);
    }
  }

  & + .post {
    margin-top: 3rem;
  }

  p {
    line-height: 1.5rem;
  }
}

.postInfo {
  color: var(--grey-400);
  display: flex;
  align-items: center;
  margin-top: 1.3rem;
  font-size: 0.9rem;

  span {
    display: flex;
    align-items: center;

    svg {
      margin-right: 5px;
    }
  }

  & > * {
    &:not(:first-child) {
      margin-left: 1.2rem;
    }
  }
}

.button {
  background: none;
  border: none;
  color: var(--pink-500);
  margin-top: 4rem;
  font-weight: 600;
}
